In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('./data/2021_dim.csv', sep="|")

In [8]:
cols_to_use = ['anno', 'mese', 'a_c', 'CF_ok', 'eta','genere', 'iso3', 
               'professione', 'qualifica', 'codice_istat', 'SLL_codice']
df = df[cols_to_use]

In [13]:
len(df[ df.a_c == True]), len(df[ df.a_c == False])

(130939, 106073)

In [7]:
df

,anno,mese,a_c,CF_ok,eta,genere,iso3,professione,qualifica,codice_istat,SLL_codice
0,2021,7,True,02251000309,54,F,ITA,"ARTIGIANI, OPERAI SPECIALIZZATI E AGRICOLTORI",Operai addetti ai servizi di igiene e pulizia,31012,608
1,2021,9,True,02251000309,54,M,ITA,"ARTIGIANI, OPERAI SPECIALIZZATI E AGRICOLTORI",Operai addetti ai servizi di igiene e pulizia,31012,608
2,2021,4,True,02251000309,39,F,ITA,"ARTIGIANI, OPERAI SPECIALIZZATI E AGRICOLTORI",Operai addetti ai servizi di igiene e pulizia,31012,608
3,2021,4,True,02251000309,47,F,ITA,"ARTIGIANI, OPERAI SPECIALIZZATI E AGRICOLTORI",Operai addetti ai servizi di igiene e pulizia,31012,608
4,2021,7,True,02251000309,63,F,ITA,"ARTIGIANI, OPERAI SPECIALIZZATI E AGRICOLTORI",Operai addetti ai servizi di igiene e pulizia,31012,608
...,...,...,...,...,...,...,...,...,...,...,...
237007,2021,1,False,00074940933,58,M,ITA,PROFESSIONI NON QUALIFICATE,addetto al carico e scarico di merci,93051,611
237008,2021,6,False,MRSLCU68B22I403H,37,M,ROU,"ARTIGIANI, OPERAI SPECIALIZZATI E AGRICOLTORI",piastrellista,93051,611
237009,2021,8,False,03033900303,56,M,ITA,"ARTIGIANI, OPERAI SPECIALIZZATI E AGRICOLTORI",carpentiere edile,30124,606
237010,2021,8,False,03033900303,41,M,ITA,"ARTIGIANI, OPERAI SPECIALIZZATI E AGRICOLTORI",carpentiere edile,30124,606
237011,2021,8,False,03033900303,48,M,ITA,"ARTIGIANI, OPERAI SPECIALIZZATI E AGRICOLTORI",carpentiere edile,30124,606